.SAO-gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 15px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .50s;
}
.SAO-gradient-button:hover {
  background-position: right center;
}

.onePiece-gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 15px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to left, #edc707 40%, #2e14d7 60%, #edc707 100%);
  background-size: 300% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .50s;
}
.onePiece-gradient-button:hover {
  background-position: right center;
}

.Home-gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 15px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to left, #edc707 40%, #2e14d7 60%, #edc707 100%);
  background-size: 300% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .50s;
}
.Home-gradient-button:hover {
  background-position: right center;
}
.Demon-Slayer-gradient-button{
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 15px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #e11414 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .50s;
}
.Demon-Slayer-gradient-button:hover{
  background-position: right center;
}
