body{
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-position: center;
    background-color: rgba(139, 146, 245, 0.493);
    /* background-image: url(https://media.discordapp.net/attachments/1190136792763088908/1219599183997046794/1671164485_www-funnyart-club-p-krasivie-kartinki-rast-krasivo-4.jpg?ex=660be340&is=65f96e40&hm=534f55b4592f02056b6a6ca4e942e69f20f746dddfd9f492c2be4f23101aac52&=&format=webp&width=841&height=473); */

}

span {
    font-style: italic;
}

/* Контент */

.Sw {
color: rgb(0, 0, 0);
}
/* 
.cheking{
    background-color: rgb(193, 161, 212);
    color: rgb(0, 0, 0);
    font-size: 26px;
} */

/* .conteiner{
      display: inline-block;
      background-color: rgb(167, 198, 199);
      text-align: center;
      margin: 20px;
} */

 /* .outher{
    text-align: center;

}  */

.list-conteiner{
    background-color: white;
    display: inline-block;
    border-style:solid;
    border-width: 0.5px;
    padding-right: 20px;
    
}

.list-conteiner>p{
    text-align: center;
    font-weight: bold;
}

.EROR{
    margin-left: 350px;

}


.Scrimer{
    text-align: center;
    display: inline-block;
    margin-right: 300px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    
}

.img-conteiner{
    background-color: white;
    float: right;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px;
    padding-left: 10px;
}

/* body{

    background-image:url(https://media.discordapp.net/attachments/1190136792763088908/1219595985802760333/1671309251_www-funnyart-club-p-kartinki-sao-krasivo-14.jpg?ex=660be046&is=65f96b46&hm=b455c412e2ee221b564f5f77cf594622c99772a725a45fb269467add1353475d&=&format=webp&width=788&height=473)
    
} */

.img-conteiner>div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-conteiner>div>p{
    display: flex;
    text-align: center;
  
}

.text-conteiner>p{
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo{
    max-width: 180px;
}

/* Верхняя навигацыоная панель */

.nav-conteiner{
    display: flex;
    justify-content: space-between;
    background-color: rgb(203, 231, 255);

}

.nav-conteiner>nav>ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0px;
    padding: 0px;

}

.nav-conteiner>nav>ul>input {
    margin-left: 10px;
}

.nav-conteiner>nav>ul>li>a{
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}

@media (max-width:900px) {
    .nav-conteiner{
        flex-direction: column;
    }
}

.page-text{
    padding-left: 15px;
}


.page{
    display: flex;
    justify-content: center;
}

.header{
    width: 14%;
    background-color: rgba(174, 244, 253, 0.562);
}

.header>ol{
    list-style: none;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;
}


.section{
    width: 82%;
}

.header>div{
    width: 100%;
}

.header>div>img{
    width: 100%;
}