body {
  background-image: url("https://kartinki.pics/uploads/posts/2021-07/1625564086_2-kartinkin-com-p-van-pis-fon-dlya-rabochego-stola-krasivie-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}