body {
    background-color: white; /* начальный цвет фона */
    color: black;
    text-align: center;
    font-size: 24px;
    padding-top: 100px;
}
#toggleButton {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}